body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrer le contenu horizontalement */
    min-height: 100vh; /* 100% de la hauteur de la vue */
}

.container {
    width: 100%;
}

table {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7)),
    url('../images/patient.jpeg');
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-edit {
    background-color: #4CAF50;
    color: white;
}

.btn-delete {
    background-color: #f44336;
    color: white;
}

.btn-detail {
    background-color: #008CBA;
    color: white;
}
.btn-dossier-medical {
    background-color: #008CBA;
    color: white;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}